.wrapper {
  width: 375px;
  background-color: rgb(241, 89, 114);
  margin: auto;
}

.cityLink {
  color: #fff;
  width: 350px;
  display: block;
  text-align: right;
  font-size: 24px;
  text-decoration: none;
  font-weight: 900;
  border: 1px solid rgb(177, 121, 121);
  padding:5px 120px 5px 0;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px;
  color: #fff;
  border: 1px solid rgb(206, 197, 197);
}

.detail:nth-child(odd) {
  background-color: rgb(214, 69, 93);
}

.detail span {
  font-weight: 900;
  font-size: 22px;
}
